<h1>New product register</h1>
<form id="productsForm" action="/api/products" method="POST">
  <div class="mb-3">
    <label for="exampleInputTitle1" class="form-label">Title</label>
    <input name="title" class="form-control" id="title" aria-describedby="titleHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPrice1" class="form-label">Price</label>
    <input name="price" class="form-control" id="exampleInputPrice1">
  </div>
  <div class="mb-3">
    <label for="exampleInputStock1" class="form-label">Stock</label>
    <input name="stock" class="form-control" id="exampleInputStock1">
  </div>
  <div class="mb-3">
    <label for="exampleInputDescription1" class="form-label">Description</label>
    <input name="description" class="form-control" id="exampleInputDescription1">
  </div>
  <div class="mb-3">
    <label for="exampleInputThumbnail1" class="form-label">Thumbnail</label>
    <input name="thumbnail" class="form-control" id="exampleInputThumbnail1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>