<h1>Sign In</h1>
<form id="signInForm" action="/api/auth/signin" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input name="email" type="mail" class="form-control" id="email" aria-describedby="titleHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/auth/register">Don't have an account? Register here.</a>
</form>